{%block body%}
<div class="ui icon message">
    <i class="icon calendar check"></i>
    <div class="content">
        <div class="header">
            Bienvenue !
        </div>
        <p>
            Cette application vous permet de gérer vos Flashmobs.
        </p>
        <a class="green ui button" href="flashmobs">
            Liste des Flash Mobs
        </a>
        <a class="teal ui button" href="flashmobs/create">
            <i class="icon add"></i>
            Créer une Flash Mobs
        </a>
    </div>
</div>
{%endblock%}
